.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 10px 0px;
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actionButtons {
  padding: 24px 0px;
}

.actionButton {
  width: 200px;
}

.actionButtonText {
  font-size: 15px !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

.loadingCircle {
  margin-left: 6px !important;
}

.infoSection {
  display: flex;
  padding: 0px 24px;
  padding-bottom: 24px;
  align-items: center;
}

.helpText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #52af77 !important;
}

.errorText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #da0052 !important;
}

.buttonOverride {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  font-weight: 700 !important;
  min-width: 200px !important;
}

.buttonOverride:hover {
  background: rgb(19, 44, 60) !important;
}

.tokenIDContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  border-radius: 12px;
}

.topBarContainer {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
  width: 300px;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumInput {
  font-size: 32px !important;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
}

.smallerText {
  font-size: 12px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid rgba(104, 108, 122, 0.25);
    margin: auto;
    margin-bottom: 60px;
    padding: 0 0 10px 0px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    top: 340px;
  }
}
