.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 20px 0 10px 0px;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.helpText {
  color: rgba(126,153,176,0.9);
  margin: 0 15px 0 0 !important;
  padding: 15px 0;
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
}

.assetTableRow {
  cursor: pointer !important;
}

.toolbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.searchContainer {
  flex: 1;
  min-width: 300px;
  margin-right: 30px !important;
}

.buttonOverride {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;
}

.buttonOverride:hover {
  background: rgb(19, 44, 60);
}

.filterContainer {
  background: #212b48;
  min-width: 300px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(126,153,176,0.2);
}

.filterListTitle {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(126,153,176,0.2);
}

.filterButton {
  margin-right: 30px !important;
}


.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
  padding: 0 20px;
  min-height: 60px;
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
  width: 100%;
  min-width: 300px;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumInput {
  font-size: 32px !important;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
}

.smallerText {
  font-size: 12px !important;
}

.tokenIDContainer {
}

.disclaimerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer {
  font-size: 13px !important;
  font-weight: 200 !important;
  border: 1px solid rgb(6, 211, 215) !important;
  border-radius: 10px;
  background: rgb(23, 52, 72) !important;
  padding: 21.5px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    margin: auto;
    padding: 0 0 10px 0px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
}
