.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 70px 0px;
}

.smallText {
  color: rgba(126,153,176,0.9);
  margin: 0 15px 0 0 !important;
  padding: 18px 0;
}

.tableContainer {
  border: 1px solid rgba(126, 153, 176, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actionButtons {
  padding: 10px 0;
  min-width: 560px !important;
  background: #11172a !important;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 12 !important;
  border: 1px solid rgba(126, 153, 176, 0.2);
  z-index: 20 !important;
}

.actionButton {
  width: 200px;
}

.actionButtonText {
  font-size: 15px !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

.loadingCircle {
  margin-left: 6px !important;
}

.infoSection {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  justify-content: flex-end;
}

.helpText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #52af77 !important;
}

.errorText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #da0052 !important;
}

.buttonOverride {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;
}

.buttonOverride:hover {
  background: rgb(19, 44, 60) !important;
}


.buttonOverrideFixed {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  font-weight: 700 !important;
  min-width: 200px !important;
  max-height: 48px;
}

.buttonOverrideFixed:hover {
  background: rgb(19, 44, 60) !important;
}

.tokenIDContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  border-radius: 12px;
}

.searchContainer {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0px 24px !important;
}

.topBarContainer {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
  padding: 0 20px;
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
  width: 300px;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumInput {
  font-size: 32px !important;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
}

.smallerText {
  font-size: 12px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 80px;
    padding: 0 0 10px 0px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    padding: 0 0 60px 0px;
  }

  .actionButtons {
    padding: 10px 0;
    min-width: 100% !important;
    background: #11172a !important;
    position: fixed;
    bottom: 0px;
    left: 0;
    transform: translatex(0);
    border-radius: 0 !important;
    border-top: 1px solid rgba(126, 153, 176, 0.2);
  }

  .searchContainer {
    padding: 0px !important;
  }
}

@media screen and (max-width: 560px) {
  .buttonOverrideFixed {
    min-width: 100% !important;
    max-height: 48px;
  }

  .container {
    width: calc(100% - 40px);
    padding: 0 0 30px 0px;
  }
}
