.ffContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 60px;
  position: relative;
}

.viewCollateral,
.viewVesting,
.viewVoting,
.viewRewards {
  float: left;
  margin: 39px 0 20px 15px !important;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 11px 4px 11px;
  border-radius: 20px;
  border: 1px solid rgba(104,108,122,0.2);
  cursor: pointer;
}

.connected {
  background: none;
  width: calc(100% - 180px);
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 100px;
}

.notConnectedContent {
  width: calc(100%) !important;
  background: rgba(17,23,41,0.2) !important;
  text-align: center;
  padding: 50px;
  height: calc(100vh);
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
  position: fixed;
  top: 0;
}

.contentGrid {
  background: none !important;
  margin-top: 0px !important;
}

.dashTitle {
  background: none !important;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
  font-weight: 700 !important;
  font-size: 1.2em !important;
}

.overviewIcon {
  font-size: 100px !important;
  margin-bottom: 30px;
  margin-top: -80px;
}

.mainHeading,
.mainHeadingTop,
.mainHeadingRewards {
  margin: 40px 0 20px 0 !important;
  text-align: left !important;
  font-size: 20px !important;
  float: left;
  /* width: calc(100% - 180px) !important; */
}

.mainHeadingRewards {
  margin: 40px 0 38px 0 !important;
}

.mainHeadingNC {
  text-align: center !important;
  font-size: 30px !important;
  margin-bottom: 30px !important;
}

.mainDescNC {
  margin: 30px auto !important;
  text-align: center !important;
  color: rgb(104,108,122);
  font-size: 18px !important;
  max-width: 800px;
  line-height: 1.8rem !important;
  display: none;
}

.buttonConnect {
  background: rgba(6,211,215,0.3) !important;
  color: rgba(6,211,215,1) !important;
  border-radius: 60px !important;
  padding: 12px 24px 14px 24px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border: 1px solid rgba(6,211,215,1) !important;
  transform: scale(0.85);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.buttonConnect:hover {
  background: rgba(6,211,215,1) !important;
  color: #111729 !important;
  text-transform: none !important;
  border: 1px solid rgba(6,211,215,1) !important;
  transform: scale(0.9);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 420px;
  background-image: url('/images/sphere_001.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.42;
}

.contentFloat {
  position: relative;
  z-index: 9;
}

.viewCollateral,
.viewVesting,
.viewVoting,
.viewRewards {
  float: left;
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {

  .ffContainer {
    padding-top: 120px;
  }

}

@media screen and (max-width: 600px) {

  .mainHeadingNC {
    text-align: center !important;
    font-size: 24px !important;
  }

  .mainDescNC {
    font-size: 15px !important;
    line-height: 1.4rem !important;
  }

  .overviewIcon {
    font-size: 80px !important;
  }

  .connected {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 130px;
  }

  .accountInfo {
    display: none;
  }

  .viewCollateral,
  .viewVesting,
  .viewVoting,
  .viewRewards {
    float: right;
  }
}
