.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  margin: 0 auto;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.bribesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    border: 1px solid rgba(104, 108, 122, 0.25);
    margin: auto;
    padding: 0 0 10px 0px;
    margin-bottom: 20px;
  }
}
